
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Media</title>
    <meta name="description" content="Kumpulan hal positif yang ada di PNR. Apa saja hal menarik yang ada di Puri Nirwana?"/>
    <link rel="stylesheet" href="../assets/css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

    <link rel="icon" href="../favicon.ico">

    <!-- Global site tag (gtag.js) - Google Analytics -->

</head>
<body>

    <div style="display: flex; justify-content: space-between; align-items: center;" >
    <header>
        <h1><a href="https://komunitaspnr.github.io"><img style="position: relative; top: 6px" src="../assets/img/logo.jpeg" height="40px"></a> Jelajahi <font color="green" >Puri Nirwana!</font></h1>
        <h3>Semua seputar hal positif yg ada di puri nirwana, mulailah menjelajah!</h3>
    </header>
    &emsp;
    <header>
    <div id="theme" class="toggle-container">
      <div onclick="setDarkMode(true)" id="darkBtn" class="">
        <label class="buka" id="switch" name="theme" /></label>
      </div>
      <div onclick="setDarkMode(false)" id="lightBtn" class="is-hidden">
        <label class="tutup" id="switch" name="theme" /></label>
        </div>
    </div>
    </header>
    </div>

    <div id="app">
            <div id="tags">
                <li class="btn is-success"> <a href="https://komunitaspnr.github.io/" >all</a></li>
                <li class="btn is-success"> <a href="https://komunitaspnr.github.io/komunitas" >komunitas</a></li>
                <li class="btn is-success"> <a href="https://komunitaspnr.github.io/masjid/" >masjid</a></li>
                <li class="btn is-success"> <a href="https://komunitaspnr.github.io/startup/" >startup</a></li>
                <li class="btn is-success"> <a href="https://komunitaspnr.github.io/bisnis/">bisnis</a></li>
                <li class="btn is-success li-gelap"> <a href="https://komunitaspnr.github.io/media/" >media</a></li>
                <li class="btn is-success"> <a href="https://komunitaspnr.github.io/kesehatan/index.html" >kesehatan</a></li>
                <li class="btn is-success"> <a href="https://forms.gle/C9fNAaPYxbV3vPCZ9" target="_blank">daftarkan bisnis anda +</a></li>
            </div>

            <!--div v-if="loading" class="loading">
                <div class="lds-heart"><div></div></div>
            </div-->

            <div v-else id="products">
                <li v-for="item in filteredItems">
                    <img src="../assets/img/sk.png" width="100" height="100">
                    <div class="">
                        <p><b> Selembar Kertas </b></p>
                        <p>Podcast yang membahas tentang masalah kehidupan sehari hari</p>
                        <p>
                            <span v-if="item.instagram">
                                <a class="btn" href="https://www.instagram.com/selembarkertas.club" target="_blank">Instagram 📷 </a>
                            </span>
                            &nbsp;
                            <span v-if="item.website"> 
                                <a class="btn" href="https://selembarkertas.club" target="_blank">Web 🌎</a>
                            </span>
                        </p>
                    </div>
                </li>
                <li v-for="item in filteredItems">
                    <img src="../assets/img/baiz.net.png" width="100" height="100">
                    <div class="">
                        <p><b> Baiz Internet </b></p>
                        <p>Layanan jasa penyedia internet dengan menggunakan media kabel</p>
                        <p>
                            <span v-if="item.website"> 
                                <a class="btn" href="https://api.whatsapp.com/send?phone=6289637524919" target="_blank">Whatsapp 📞</a>
                            </span>
                            &nbsp;
                            <span v-if="item.website"> 
                                <a class="btn" href="" target="_blank">Blok OF-25</a>
                            </span>
                        </p>
                    </div>
                </li>
                <br>
            </div>

    </div>

    <footer>
        <p align="center" >dikelola oleh <a href="https://fajarbaiz.com" target="_blank">Fajar Nugroho</a></p>
    </footer>
    
<script type="text/javascript" src="https://fajarbaiz.com/assets/lib/js/darkmode.js"></script>
</body>
</html>