
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Masjid</title>
    <meta name="description" content="Kumpulan hal positif yang ada di PNR. Apa saja hal menarik yang ada di Puri Nirwana?"/>
    <link rel="stylesheet" href="../assets/css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

    <link rel="icon" href="../favicon.ico">

    <!-- Global site tag (gtag.js) - Google Analytics -->

</head>
<body>

    <div style="display: flex; justify-content: space-between; align-items: center;" >
    <header>
        <h1><a href="https://komunitaspnr.github.io"><img style="position: relative; top: 6px" src="../assets/img/logo.jpeg" height="40px"></a> Jelajahi <font color="green" >Puri Nirwana!</font></h1>
        <h3>Semua seputar hal positif yg ada di puri nirwana, mulailah menjelajah!</h3>
    </header>
    &emsp;
    <header>
    <div id="theme" class="toggle-container">
      <div onclick="setDarkMode(true)" id="darkBtn" class="">
        <label class="buka" id="switch" name="theme" /></label>
      </div>
      <div onclick="setDarkMode(false)" id="lightBtn" class="is-hidden">
        <label class="tutup" id="switch" name="theme" /></label>
        </div>
    </div>
    </header>
    </div>

    <div id="app">
            <div id="tags">
                <li class="btn is-success li-gelap"> <a href="https://komunitaspnr.github.io/" >all</a></li>
                <li class="btn is-success"> <a href="https://komunitaspnr.github.io/komunitas" >komunitas</a></li>
                <li class="btn is-success li-gelap"> <a href="https://komunitaspnr.github.io/masjid/" >masjid</a></li>
                <li class="btn is-success"> <a href="https://komunitaspnr.github.io/startup/" >startup</a></li>
                <li class="btn is-success"> <a href="https://komunitaspnr.github.io/bisnis/">bisnis</a></li>
                <li class="btn is-success"> <a href="https://komunitaspnr.github.io/media/" >media</a></li>
                <li class="btn is-success"> <a href="https://komunitaspnr.github.io/kesehatan/index.html" >kesehatan</a></li>
                <li class="btn is-success"> <a href="https://forms.gle/C9fNAaPYxbV3vPCZ9" target="_blank">daftarkan bisnis anda +</a></li>
            </div>

            <!--div v-if="loading" class="loading">
                <div class="lds-heart"><div></div></div>
            </div-->

            <div v-else id="products">
                <li v-for="item in filteredItems">
                    <img src="../assets/img/" width="100" height="100">
                    <div class="">
                        <p><b> Masjid Al Muhajirin </b></p>
                        <p>Masjid pertama di puri nirwana, terletak di cluster Q</p>
                        <p>
                            <span v-if="item.instagram">
                                <a class="btn" href="" target="_blank">Lokasi</a>
                            </span>
                        </p>
                    </div>
                </li>
                <li v-for="item in filteredItems">
                    <img src="../assets/img/dr.png" width="100" height="100">
                    <div class="">
                        <p><b> Masjid Darussholihin </b></p>
                        <p>Masjid yang terletak di tengah cluster O</p>
                        <p>
                            <span v-if="item.instagram">
                                <a class="btn" href="" target="_blank">Lokasi</a>
                            </span>
                        </p>
                    </div>
                </li>
                <br>
            </div>

           
    </div>

    <footer>
        <p align="center" >dikelola oleh <a href="https://fajarbaiz.com" target="_blank">Fajar Nugroho</a></p>
    </footer>
     <div id="disqus_thread"></div>
<script id="dsq-count-scr" src="//fajarbaiz.disqus.com/count.js" async></script>
<script>

/**
*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
/*
var disqus_config = function () {
this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};
*/
(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = 'https://fajarbaiz.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
</section>
<script type="text/javascript" src="https://fajarbaiz.com/assets/lib/js/darkmode.js"></script>
</body>
</html>